DATABASE_URL="postgresql://connecticat:connecticat@localhost:5433/connecticat?schema=public"
AUTH_SECRET="change-me-to-a-long-random-string-at-least-32"
PUBLIC_SITE_URL="https://connecticat.javistudio.dev"
